.headshot {
  width: 100px;
}

.container {
  border: 1px solid black;
  padding-top: 200px;
}

.my-col {
  background-color: white;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  
}

.my-nav {
  background-color: red;
  height: 5px;
}



#about {
  margin-top: 20em;
  border: 1px solid #eee;
  background-color: white;
  padding-bottom: 1em;
}

#about img {
  position: relative;
  bottom: 12em;
}